*{
    margin: 0;
    padding: 0;
}

.nav-link{
    padding: 0.5rem 0.5rem !important;
}

.nav-link:hover{
    color: rgb(248, 178, 27) !important;
}

.btn{
    border-radius: 1rem !important;
    background-color: rgb(248, 178, 27) !important;
    border-color: rgb(248, 178, 27) !important;
}

.signUp{
    border-radius: 2rem !important;
    border-color: rgb(248, 178, 27) !important;
}

#whatToDo{
    background-color: #0dcaf0
}

#footer {
    background-color: black;
}


